/*-------------------------------------------------------------------------------------------------------------------------------------------------
####################################################################### Vars ####################################################################
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

 $variable-prefix: bs- !default;

 $white: #fff;             
 $black: #000;             
 $blue: #0d6efd;           
 $purple: #6f42c1;         
 $pink: #d63384;           
 $red: #dc3545;            
 $orange: #fd7e14;         
 $yellow: #ffc107;         
 $green: #198754;                                         

 $primary: $blue;
 $secondary: $black;
 $success: $purple;
 $info: $pink;
 $warning: $yellow;
 $danger: $red;
 $light: $white;
 $dark: $black;

 $body-color:                red !default;
 $body-bg:                   $white !default;

 $body-secondary-color:      rgba($body-color, .75) !default;
 $body-secondary-bg:         red;

 $text-muted:                  var(--#{$variable-prefix}secondary-color) !default;

 $body-fsz: 1rem !default;
 $body-fw: 1rem !default;
 $body-flh: 1rem !default;

 $border-width:   1px !default;
 $prefix:                      $variable-prefix !default;

 $grid-columns:                12 !default;
 $grid-gutter-width:           1.5rem !default;
 $grid-row-columns:            6 !default;

 $spacer: 1rem !default;

/*-------------------------------------------------------------------------------------------------------------------------------------------------
####################################################################### Features ####################################################################
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

 $enable-negative-margins:     true;

 $enable-smooth-scroll:        true !default;
 $enable-grid-classes:         true !default;
 $enable-container-classes:    true !default;
 $enable-cssgrid:              false !default;
 $enable-button-pointers:      true !default;
 $enable-rfs:                  true !default;
 $enable-validation-icons:     true !default;
 $enable-deprecation-messages: true !default;
 $enable-important-utilities:  true !default;
 
 $enable-dark-mode:            true !default;
 $color-mode-type:             data !default;
 $pre-color:                   null !default;

/*-------------------------------------------------------------------------------------------------------------------------------------------------
####################################################################### Containers ####################################################################
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");

$container-padding-x: $grid-gutter-width !default;

/*-------------------------------------------------------------------------------------------------------------------------------------------------
####################################################################### Spacers And Gutters ####################################################################
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

 @include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
 @include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

 $negative-spacers: if($enable-negative-margins, negativify-map($spacers), null) !default;

 $gutters: $spacers !default;

/*-------------------------------------------------------------------------------------------------------------------------------------------------
#######################################################################  Position  ####################################################################
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

 $body-text-align:           null !default;

$position-values: (
  0: 0,
  50: 50%,
  100: 100%
) !default;

/*-------------------------------------------------------------------------------------------------------------------------------------------------
####################################################################### Color Maps ####################################################################
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;

$theme-colors-bg: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;

$theme-colors-text: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
) !default;

$colors: (
  "blue":       $blue,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "black":      $black,
  "white":      $white,
) !default;


/*-------------------------------------------------------------------------------------------------------------------------------------------------
####################################################################### Border ####################################################################
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

$enable-rounded: true !default;

$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
) !default;

$border-style: solid !default;
$border-color: red !default;

$border-radius:               .375rem !default;
$border-radius-sm:            .25rem !default;
$border-radius-lg:            .5rem !default;
$border-radius-xl:            1rem !default;
$border-radius-xxl:           2rem !default;
$border-radius-pill:          50rem !default;

$border-radius-2xl:           $border-radius-xxl !default;

/*-------------------------------------------------------------------------------------------------------------------------------------------------
####################################################################### Shadow ####################################################################
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

$enable-shadows:              false !default;

$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;
$box-shadow-inset:            inset 0 1px 2px rgba($black, .075) !default;

$card-box-shadow:                   null !default;

/*-------------------------------------------------------------------------------------------------------------------------------------------------
####################################################################### Card ####################################################################
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

$card-spacer-y:                     $spacer !default;
$card-spacer-x:                     $spacer !default;
$card-title-spacer-y:               $spacer * .5 !default;
$card-title-color:                  null !default;
$card-subtitle-color:               null !default;
$card-border-width:                 var(--#{$prefix}border-width) !default;
$card-border-color:                 var(--#{$prefix}border-color-translucent) !default;
$card-border-radius:                var(--#{$prefix}border-radius) !default;
$card-inner-border-radius:          subtract($card-border-radius, $card-border-width) !default;
$card-cap-padding-y:                $card-spacer-y * .5 !default;
$card-cap-padding-x:                $card-spacer-x !default;
$card-cap-bg:                       rgba(var(--#{$prefix}body-color-rgb), .03) !default;
$card-cap-color:                    null !default;
$card-height:                       null !default;
$card-color:                        null !default;
$card-bg:                           var(--#{$prefix}body-bg) !default;
$card-img-overlay-padding:          $spacer !default;
$card-group-margin:                 $grid-gutter-width * .5 !default;

/*-------------------------------------------------------------------------------------------------------------------------------------------------
####################################################################### Font ####################################################################
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// stylelint-enable value-keyword-case
$font-family:            var(--#{$prefix}font-sans-serif) !default;

$fsz-base:              1rem !default; // Assumes the browser default, typically `16px`
$fsz-sm:                $fsz-base * .875 !default;
$fsz-lg:                $fsz-base * 1.25 !default;

$fw-lighter:         lighter !default;
$fw-light:           300 !default;
$fw-normal:          400 !default;
$fw-medium:          500 !default;
$fw-semibold:        600 !default;
$fw-bold:            700 !default;
$fw-bolder:          bolder !default;

$fw-base:            $fw-normal !default;

$lh-base:            1.5 !default;
$lh-sm:              1.25 !default;
$lh-lg:              2 !default;

$h1-fsz:                $fsz-base * 2.5 !default;
$h2-fsz:                $fsz-base * 2 !default;
$h3-fsz:                $fsz-base * 1.75 !default;
$h4-fsz:                $fsz-base * 1.5 !default;
$h5-fsz:                $fsz-base * 1.25 !default;
$h6-fsz:                $fsz-base !default;

$font-sizes: (
  1: $h1-fsz,
  2: $h2-fsz,
  3: $h3-fsz,
  4: $h4-fsz,
  5: $h5-fsz,
  6: $h6-fsz
) !default;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
) !default;

$small-font-size:             .875em !default;

$sub-sup-font-size:           .75em !default;

/*-------------------------------------------------------------------------------------------------------------------------------------------------
####################################################################### Z-index ####################################################################
/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

$zindex-dropdown:                   1000 !default;
$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;
$zindex-offcanvas-backdrop:         1040 !default;
$zindex-offcanvas:                  1045 !default;
$zindex-modal-backdrop:             1050 !default;
$zindex-modal:                      1055 !default;
$zindex-popover:                    1070 !default;
$zindex-tooltip:                    1080 !default;
$zindex-toast:                      1090 !default;

$zindex-levels: (
  n1: -1,
  0: 0,
  1: 1,
  2: 2,
  3: 3
) !default;
